/* Component: ServiceCard */

.service-item {
  padding: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.service-item:last-child {
  margin-bottom: 0;
}

.service-item .icon img {
  width: 80px;
  margin: auto;
}

.service-item h3 {
  margin: 5rem 0;
  opacity: 0.7;
}

.service-item .text {
  line-height: 1.8;
}

@media (min-width: 768px) {
  .services-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 6rem 0;
  }

  .service-item {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .services-inner {
    grid-template-columns: repeat(4, 1fr);
  }
}
