/* Component: Banner */

.banner-one {
  background: linear-gradient(rgba(0, 80, 213, 0.9), rgba(0, 90, 213, 0.85)), url('images/banner-1-img.png') top/cover no-repeat;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-one .lead {
  font-size: 2.8rem;
  font-weight: 500;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.4;
}

.banner-one .text-sm {
  font-weight: 500;
  margin-top: 2rem;
}

.banner-one blockquote {
  margin: 0 auto;
  padding: 0 2rem;
}

.banner-two {
  background: linear-gradient(rgba(0, 80, 213, 0.9), rgba(0, 90, 213, 0.85)), url('images/banner-two-bg.png') top/cover no-repeat;
  padding: 13.6rem 0;
}

.banner-two-left img {
  max-width: 620px;
  margin: auto;
}

.banner-two-right .lead {
  font-size: 2.2rem;
  margin-top: 6rem;
}

.banner-two-right .btn-group {
  margin-top: 6rem;
  justify-content: center;
}

@media (min-width: 992px) {
  .banner-two .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
  }

  .banner-two-right {
    text-align: left;
  }

  .banner-two-right .btn-group {
    justify-content: flex-start;
  }

  .banner-two-right .lead {
    margin-top: 0;
    max-width: 500px;
  }

  .banner-two-left img {
    max-width: 100%;
  }
}
