.contact {
  padding: 8rem 0;
}

.contact-left {
  margin-bottom: 6rem;
  height: 100%;
  min-height: 400px;
}

.contact-left iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.contact-right {
  padding: 5rem 4rem;
  border-radius: 0.5rem;
}

.contact-head {
  margin-bottom: 3rem;
}

.contact-head .lead {
  margin-bottom: 1rem;
}

.contact-right form {
  margin-top: 5rem;
}

.form-element {
  margin-bottom: 2rem;
}

.form-element .form-control {
  width: 100%;
  background-color: #3373dd;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: var(--light-color);
  font-size: 1.6rem;
}

.form-element .form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-element .form-control:focus {
  outline: none;
  background-color: #2563dd;
}

.form-element textarea.form-control {
  resize: vertical;
  min-height: 120px;
}

.btn-submit {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.btn-submit i {
  margin-left: 1rem;
}

@media (min-width: 992px) {
  .contact .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: stretch;
  }

  .contact-left {
    margin-bottom: 0;
  }
}