/* Component: SectionHead */

.section-head h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.section-head.text-center {
  text-align: center;
}

.section-head.text-center h2 {
  text-align: center;
}

.border-line {
  height: 0.4rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--light-gray);
  position: relative;
}

.border-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 102px;
  background-color: var(--light-blue-color);
}

.line-art {
  max-width: 240px;
  margin: 3.7rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.line-art img {
  width: 30px;
}

.line-art div {
  width: 100px;
  height: 2px;
  background-color: var(--light-gray);
}

.section-head .text-lg {
  color: var(--dark-gray);
  margin-top: -2rem;
}

@media (min-width: 992px) {
  .border-line {
    width: 140px;
  }

  .border-line::after {
    width: 66px;
  }
}
